#card {
    height: 550px;
    width: 95%;
    max-width: 320px;
    border-radius: 10px;
    margin: 0 auto;
    /* margin: 3vw; */

    box-shadow: 0 0 4px 5px rgba(230,230,230,0.50);
}

/* ==========================================================================
Top Content
========================================================================== */

.top-content {
    height: 250px;
}

.top-content img {
    height: 98%;
    width: 96%;
    margin-top: 2%;
    margin-left: 2%;
    /* margin: 3% auto; */
    border-radius: 10px 10px 0 0;
}

/* ==========================================================================
Bottom Content
========================================================================== */

.bottom-content {
    height: 150px;
    border-radius: 10px;
}

#project-name {
    font-weight: 500;
    color: #1B1B7F;
}

.bottom-content p {
    color: #59597C;
    margin: 20px;
}


#see-more {
    height: 40px;
    width: 40px;
    border: 2px solid #F19559;
    background-color: #F19559;
    border-radius: 50%;
    text-align: center;
    display: flex;
    float: right;
    margin: 0 30px 30px 0;
}

#see-more i {
    font-size: 20px;
    color: #FFF;
    margin: 0;
    padding: 0;
    align-self: center;
    margin: 0 auto;
}



