.section-content {
    margin-top: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 1200px) {
    .section-content {
        margin: 0 7%;
    }
}

.info {
    max-width: 450px;
    /* width: 70%; */
    /* margin: 0 auto; */
    margin-right: 15%;
}

.text p {
    /* margin-bottom: 30px; */
}

.section-content .main-image img {
    max-width: 500px;
    width: 100%;
    margin-left: 5%;
    /* display: block; */
    /* margin: 0 auto; */
}

.social-icons div {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    display: flex;
    float: left;
    margin: 20px 20px 30px 0;
}

.social-icons div i {
    font-size: 20px;
    margin: 0;
    padding: 0;
    align-self: center;
    margin: 0 auto;
}

.linkedin {
    color: #3459F7;
    border: 2px solid #3459F7;
    background-color: rgba(52,89,247,0.10);
    /* padding: 11.71px 13px; */
}

.github {
    color: #A567FF;
    border: 2px solid #A567FF;
    background-color: rgba(165,103,255,0.10);
    /* padding: 11.71px 13px; */
}

.instagram {
    color: #FF6547;
    border: 2px solid #FF6547;
    background-color: rgba(255,101,71,0.10);
    /* padding: 11.71px 13px; */
}

.twitter {
    color: #64BCFF;
    border: 2px solid #64BCFF;
    background-color: rgba(100,188,255,0.10);
    /* padding: 11.71px 13px; */
}

.buttons button {
    background-color: transparent;
    width: 150px;
    height: 35px;
    border-radius: 15px;
    font-size: 14px;
    font-weight: bold;
    margin: 0 20px 0 0;
}

.buttons i {
    margin-right: 10px;
}

#resume-button {
    border: 1px solid #5E72E4;
    color: #5E72E4
}

#contact-button {
    border: 1px solid #2DCE89;
    color: #2DCE89;
}

@media screen and (min-width: 960px) {
    .text {
        float: right;
    }
}

@media screen and (max-width: 959px) {
    .section-content {
        flex-direction: column-reverse;
    }

    .section-content .main-image img {
        margin: 0 auto;
    }

    .info {
        max-width: 450px;
        width: 100%;
        margin: 40px auto;
    }

    .social-icons {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .buttons {
        text-align: center;
    }
}

@media screen and (max-width: 410px) {
    .buttons button {
        margin: 10px 10px;
    }

    .social-icons div {
        margin: 20px 10px 30px 10px;
    }
}

