/* ==========================================================================
General
========================================================================== */
body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  letter-spacing: 0.01em;
}

section {
  padding: 70px 0;
}

/* ==========================================================================
Latest Projects
========================================================================== */
#latest-projects {
  background-color: #F9FAFF;
}

/* ==========================================================================
More Projects
========================================================================== */
#more-projects-cards {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* align-content: center; */
  /* align-items: center; */
}

.card {
  margin: 50px;
}

/* ==========================================================================
Skills & Interests
========================================================================== */
#skills-interests {
  background-color: #F9FAFF;
}

/* SKILLS - EXPERIENCES */
#skills-experiences {
   columns: 2;
   column-width: 200px;
   column-rule: 1px solid #CCC;
   column-gap: 5em;

   width: 90%;
   max-width: 1200px;
   margin: 0 auto;
}

#skills {
  text-align: end;
  -webkit-column-break-inside: avoid; /* Chrome, Safari, Opera */
  page-break-inside: avoid; /* Firefox */
  break-inside: avoid; /* IE 10+ */
}

#experiences {
  -webkit-column-break-inside: avoid; /* Chrome, Safari, Opera */
  page-break-inside: avoid; /* Firefox */
  break-inside: avoid; /* IE 10+ */
}

@media screen and (max-width: 548px) {
  #skills, #experiences {
    text-align: center;
  }
}


/* INTERESTS */
#interests {
  width: 80%;
  max-width: 1000px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
}

/* ==========================================================================
Contact
========================================================================== */
#contact {

}

/* ==========================================================================
Footer
========================================================================== */

#footer {
  /* height: 200px; */
  background-color: #2B366B;
}

