/* #skills {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 100px;
}

#skills div {
    max-width: 300px;
    height: auto;
    margin: 20px 3%;
    text-align: center;

    border-radius: 20px;
    box-shadow: -1px 1px 20px #C7C7C7;
}

#skills div img,
#skills div h4,
#skills div p {
    margin: 30px;
} */

#interests {
    display: flex;
    align-items: center;
    /* width: 80%; */
    max-width: 1200px;
    margin-bottom: 30px
}

#interests h4 {
    font-size: 20px;
}

#interests:nth-child(1) h4 {
    color: #278EF4;
}

#interests:nth-child(2) h4 {
    color: #FEBA40;
}

#interests:nth-child(3) h4 {
    color: #56CD8C;
}

#interests p {
    color: #525F7F;
}

#interests div {
    margin: 0 70px;
}

#interests img {
    height: 40vw;
    max-height: 250px;
}

#interests-skills {
    font-size: 14px;
    font-weight: bold;
    color: #C67200;
}

@media screen and (min-width: 1000px) {
    .interests-icon, .interests-description {
        width: 50%;
    }
    
    #interests:nth-of-type(odd) img {
        float: right;
    }
    
    #interests:nth-of-type(even) img {
        float: left;
    }

    /* #interests:nth-child(odd){
        align-self: flex-end;
    } */
    
    #interests:nth-child(even){
        /* align-self: flex-start; */
        flex-direction: row-reverse;
    }

    #interests:nth-child(even) {
        text-align: right;
    }
}

@media screen and (max-width: 999px) {
    #interests {   
        width: 100%;
        flex-direction: column;
        margin: 0 auto 50px auto;
        text-align: center;
    }

    #interests div {
        margin: 0 5%;
    }
}
